/* Base style */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --primary-color: #0d8ca8;
  --secondary-color: #fff;
  --max-width: 1100px;
}

body {
  line-height: 1.4;
  font-family: "Tahoma";
}
img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
}

.container {
  display: block;
  max-width: var(--max-width);
  padding: 1rem 3rem;
  margin: 0 auto;
  overflow: hidden;
}

.banner {
  max-width: 600px;
  margin: 0 auto;
}
/* Home Page */
.logo {
  width: 60%;
  height: 100%;
  padding: 0.5rem;
}

.social {
  display: flex;
  justify-content: space-between;
}
.social i {
  color: var(--primary-color);
}
.social a {
  display: block;
}

#navbar {
  background: var(--primary-color);
  padding: 1.5rem;
}
#navbar ul {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#navbar ul li {
  margin-right: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
#navbar ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 1.5rem;
}
#navbar ul li a:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery img {
  width: 50vh;
  overflow: hidden;
  filter: grayscale(0);
  transition: filter, transform, 0.5s ease-in-out;
}
.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(0.9);
}

/*Welcome section*/
#welcome {
  background: var(--secondary-color);
  margin: 5rem 0;
  text-transform: uppercase;
  text-align: center;
}
#welcome h1 {
  font-size: 3rem;
  color: var(--secondary-color);
}
#welcome p {
  font-size: 1rem;
  color: var(--secondary-color);
}

#welcome .welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: var(--primary-color);
  border-radius: 5px;
  padding: 3rem;
}
/*Activities section*/
.activities .container-activities {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.activities .container h2 {
  background: var(--primary-color);
  border-radius: 50%;
  color: var(--secondary-color);
  width: 100px;
  height: 100px;
  font-size: 4rem;
  transition: all 1s ease-in-out;
}
.activities .container p {
  color: var(--primary-color);
  margin-top: 0.5rem;
  line-height: 1;
  font-weight: bold;
}

.activities .container h2:hover {
  background: #ccc;
  color: var(--primary-color);
  border-radius: 10%;
}
/*Message*/

#message {
  padding: 5rem 0;
}
#message h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}
#message p {
  font-size: 1rem;
}
#message .message-content {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 3rem;
}
/* Activities Page */
#activities {
  text-align: center;
}
#activities h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--primary-color);
  padding: 2rem 0;
}
#activities h3 {
  font-weight: bold;
  color: var(--secondary-color);
  text-decoration: underline;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
#activities h2 {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 2rem;
  border-radius: 5rem;
  font-size: 3rem;
  display: inline-block;
  text-align: center;
  margin: 4rem 0;
  transition: 0.4s all ease-in-out;
}
#activities h2:hover {
  background: #ccc;
  color: var(--primary-color);
  transform: scale(0.9);
}

#activities .activities-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
#activities .activities-container img {
  transition: 0.4s all ease-in-out;
  filter: grayscale(0);
}
#activities .activities-container img:hover {
  filter: grayscale(100%);
  transform: scale(0.9);
}

#activities .activities-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin-bottom: 2rem;
}
#activities .activities-container1 img {
  transition: 0.4s all ease-in-out;
  filter: grayscale(0);
}
#activities .activities-container1 img:hover {
  filter: grayscale(100%);
  transform: scale(0.9);
}

#activities .activities-container > *:first-child {
  display: grid;
  grid-gap: 5rem 0;
  grid-column: 1 / span 3;
}
#activities .activities-container > *:nth-child(2) {
  display: grid;
  grid-gap: 1rem;
  grid-column: 1 / span 2;
}
#activities .activities-container > *:nth-child(2) p {
  position: relative;
  bottom: 2rem;
}

#activities .activities-container p,
#activities .activities-container1 p {
  color: var(--secondary-color);
  font-size: 0.9rem;
  text-align: left;
}

.bold {
  font-weight: bold;
  padding-top: 0.5rem;
  display: block;
  font-size: 0.9rem;
  text-align: center;
}
.more {
  font-weight: bold;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
}
.bg-primary {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
  border-radius: 5px;
}
/* Youth Cafe Page */
#youthcafe {
  text-align: center;
}
#youthcafe h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--primary-color);
  padding: 2rem 0;
}
#youthcafe .youthcafe-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  margin-bottom: 2rem;
}
#youthcafe .youthcafe-container1 p {
  color: var(--secondary-color);
  font-size: 0.9rem;
  text-align: left;
}
#youthcafe .youthcafe-container1 img {
  filter: grayscale(0);
  transition: 0.4s all ease-in-out;
}
#youthcafe .youthcafe-container1 img:hover {
  filter: grayscale(100%);
  transform: scale(0.9);
}
/* Form */
#contact-form {
  padding: 2rem 0;
}
#container {
  display: block;
  margin: 10px auto;
  max-width: 400px;
  padding: 20px;
}
.form-wrap {
  background: var(--primary-color);
  padding: 20px;
  border-radius: 5px;
}
.form-wrap h1,
.form-wrap p {
  text-align: center;
}
.form-wrap .form-group {
  margin-top: 15px;
}
.form-wrap h2 {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
.form-wrap p {
  color: var(--secondary-color);
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.form-wrap .form-group label {
  display: block;
  color: var(--secondary-color);
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}
.form-wrap button {
  display: block;
  width: 50%;
  background: #e60dd4;
  color: var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.form-wrap button:hover {
  background: #a00ee4;
}
.form-wrap .bottom-text {
  margin-top: 20px;
  font-size: 12px;
}

/* Footer */
footer {
  height: 50px;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-transform: uppercase;
}
/* media queries */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  #navbar ul {
    display: block;
  }
  #navbar ul li {
    padding-bottom: 1rem;
  }
  #navbar ul li a {
    padding: 0.5rem;
    border-radius: 1rem;
  }
  .gallery {
    display: block;
  }
  .gallery img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #navbar ul {
    display: block;
  }
  #navbar ul li {
    padding-bottom: 1rem;
  }
  #navbar ul li a {
    padding: 0.5rem;
    border-radius: 1rem;
  }
  .gallery {
    display: block;
  }
  .gallery img {
    width: 100%;
  }
  .social {
    display: block;
  }
  .logo {
    width: 100%;
    height: 100%;
  }
  footer p {
    font-size: 0.8rem;
  }
  #activities .activities-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  #activities .activities-container > *:nth-child(2),
  #activities .activities-container > *:nth-child(3),
  #activities .activities-container > *:nth-child(4),
  #activities .activities-container > *:nth-child(5),
  #activities .activities-container > *:last-child {
    display: grid;
    grid-gap: 1rem 0;
    grid-column: 1 / span 3;
  }
  #activities .activities-container1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
    margin-bottom: 2rem;
  }
  #youthcafe .youthcafe-container1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    margin-bottom: 2rem;
  }
  .activities .container-activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-activities .box1 {
    margin-bottom: 1rem;
  }
  .activities .container p {
    margin-top: 0.5rem;
    line-height: 1;
    font-size: 0.8rem;
  }
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
